body{
  margin: 0;
}
.wrapper{
  width: 1024px;
  font-family: sans-serif;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;

}
a {
  text-decoration:none;

}
.header{
  height: 97px;
  background-color: #373c3f;

}

.navigation{
  margin: 0;
}


.navigation li{
  display: inline-block;
  height: 10px;
  margin-top: 45px;
  margin-bottom: 40px;
  margin-left: 29px;

}


.navigation li:first-child{
  margin-left: 44px;
}

li:hover{
  text-decoration: underline;
}

.main{
  background-color: #16b1c4;
  height: 576px;
  width: 1024px;
}

.title{
  color: white;
  margin: 0;
  padding-top: 200px;
  padding-left: 82px;
  font-size: 60px;
  width: 725px;
}
h1, h2{
  margin: 0;
  font-weight: normal;
}

.main-link{
  padding-left: 82px;
  padding-top: 66px;
  padding-bottom: 0;
  padding-right: 326px;
  float: left;
  color: #a6d6df;
}
.link{
  margin: 0;
  padding-top: 66px;
  padding-right: 240px;
  width: 100px;
  float: right;

}

.main-link:hover, .title:hover, .link:hover{
  opacity: .6;
}


.pdf-links-title{
  background-color: #27212c;
  height: 244px;
  width: 795px;
  margin: 0;
  float: left;
}
.pdf-links-title h2{
  color: #9a89a8;
  padding-left: 88px;
  padding-top: 115px;

}

.pdf-links-link {
  background-color: #bc3183;
  height: 244px;
  width: 229px;
  margin: 0;
  float: right;
}

.pdf-links-link h1{
  padding-left: 100px;
  padding-bottom: 108px;
  padding-top: 98px;
}
.pdf-links-link:hover{
  background-color: #bf5895;
}

.big-block{
  margin-top: 244px;
  padding: 0;
  height: 291px;

}
.pdf-album-link{
  margin: 0;
  padding: 0;
  height: 290px;
  width: 352px;
  background-color: #5b0fa1;
  float: left;
}

.album-link{
  margin: 0;
  padding-top: 120px;
  padding-left: 158px;
  color: white;
}

.pdf-album-link:hover{
  background-color: #703f9e;
}

.album-bridge{
  margin: 0;
  padding: 0;
  height: 290.3px;

}
 .album-face{
   margin: 0;
   padding: 0;
   float: right;
   height: 290px;

 }

.padding {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  height: 581px;
}

.padding-titl {
  color: #088ca5;
  margin: 0;
  padding-top: 54px;
  padding-left: 80px;
}


  .padding-text ul{
  margin: 0;
  padding-top: 65px;
  padding-left: 80px;

}

  .padding-text li {
  padding: 0;
  padding-left: 52;
  margin-top: 0;
  margin-bottom: 44px;
  margin-right: 52px;
  font-size: 14px;
  width: 403px;
  list-style-type: none;
  display: inline-block;
}
.padding-text li:hover{
  text-decoration: none;
}
